.openRows {
  background-color: rgba(247, 214, 224, 0.5);
  color: black;
  font-weight: 350;
}



.btn-row {
  text-align: center;
  
}

.open-container {
  width: 360px;
  margin: 0 auto;
  width: 50%;
}
